[Desktop Entry]
Name=gSTM
GenericName=gSTM
Comment=Manage SSH tunnel connections
Exec=setsid gstm
Icon=gSTM
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
